/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* Page container styling */
div#page {
    /* border: 1px solid purple; */
    width: 100%; /* Adjust to your desired width */
    max-width: 1000px; /* Example maximum width */
    margin: auto;
    margin-top: 15px;
    padding: px;
    text-align: left;
}

div#menu {
    width: 100%; /* Make sure the menu container spans the full width of the page */
    text-align: center; /* Center-align the contents within the container */
}

/* Menu styling */
.menu {
    list-style-type: none; /* Removes default list bullets */
    padding: 0;
    display: flex; /* Use flexbox layout to display items horizontally */
    justify-content: center; /* Center the items horizontally */
    align-items: flex-end; /* Align items to the bottom of the flex container */
}

/* Style for each menu item */
.menu-item {
    padding: 5px 20px; /* Add padding for spacing */
    cursor: pointer; /* Change cursor to pointer */
    text-align: center; /* Center the text */
    display: inline-block; /* Ensure items are inline but respect padding */
    height: 20px; /* Standard height for unselected items */
    border: 1px solid red;
    border-top-left-radius: 5px; /* Adjust the value as desired for top-left corner rounding */
    border-top-right-radius: 5px;
}

.menu-item a {
    display: block; /* Makes the link occupy the full area of the menu item */
    height: 100%; /* Makes sure the link covers the entire height of the menu item */
    width: 100%; /* Makes sure the link covers the entire width of the menu item */
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherits the text color from the parent menu item */
}

.menu-filler {
    padding: 5px 18%; /* Add padding for spacing */
    cursor: pointer; /* Change cursor to pointer */
    text-align: center; /* Center the text */
    display: inline-block; /* Ensure items are inline but respect padding */
    height: 20px; /* Standard height for unselected items */
    border-bottom: 1px solid red;
    border-top-left-radius: 5px; /* Adjust the value as desired for top-left corner rounding */
    border-top-right-radius: 5px;
}

/* Style for the selected menu item */
.menu-item.selected {
    padding-top: 15px;
    border: 1px solid red;
    border-bottom: 1px solid white;
}

/* Style for the selected menu item */
.menu-item.selected {
    padding-top: 15px;
    border: 1px solid red;
    border-bottom: 1px solid white;
}


/* Content styling */
div#content {
    border: 2px solid blue;
    margin: 10px 0; /* Adjust margins as needed */
    min-height: 500px; /* Set a minimum height */
    width: 100%; /* Full width since the menu is no longer a column */
}

/* Footer styling */
div#footer {
    border: 2px solid red;
    clear: both;
    height: 30px;
    text-align: center;
    padding: 5px;
}
