html {
    font-family: "Ubuntu Mono", monospace;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    flex: 1;
    margin-top: -85px;
    height: 200vh;
    height: min-content;
}

/* Navigation Bar */
.nav {
    position: sticky;
    height: 25px;
    width: fit-content;
    top: 3%;
    padding: 20px;
    gap: 70px;
    margin: auto;

    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

.nav-mobile {
    visibility: hidden;
    width: 100%;
}

.nav-name {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.header-nav-container {
    display: flex;
    gap: 1rem;
}

.header-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px; 
    padding-right: 5px; 
    border: 1px solid white; 
}

.header-nav-item:hover {
    cursor: pointer;
    border: 1px solid black; 
    border-radius: 10px; 
}

.header-nav-item.active, .nav-active {
    border: 1px solid black; 
    border-radius: 10px; 
    color: white; 
    background-color: black;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: inherit; 
    text-decoration: none;
}

/* Section styles */
.section-div {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
    overflow: hidden;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section-title {
    text-align: center;
    align-items: center;
}

.section-header {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.section-content {
    width: 70%;
    font-size: 1rem;
    text-align: left;
    margin-top: 30px;
}

/* Portfolio */
.portfolio-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    gap: 3%;
    grid-row-gap: 20px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.portfolio-item-title {
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
}

.portfolio-item-info {
    padding: 2%;
    margin-top: 2%;
    font-size: 1rem;
}

.portfolio-link:hover{
    cursor: pointer;
}

.portfolio-link:hover + .hide{
    display: block;
}

.hide {
    display: none;
}

/* Contact Form */
.contact-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
    gap: 3%;
    grid-row-gap: 20px;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    height: 70px;
    font-size: 20px;
    transform: rotateZ(-10deg);
}

.contact-item:hover {
    background-color: lightgray;
}

/* Mobile layout */
@media only screen and (max-width: 720px) {
    .nav{
        position: sticky;
        height: 50px;
        margin: auto;
        width: 90vw;
        
        display: flex;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
    }
    .nav-name {
        margin-bottom: -60px;
        border-bottom: 2px solid black;
    }
    body,html{
        margin:0;
        padding: 0;
    }
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
    .contact-grid {
        grid-template-columns: 1fr;
    }
    .contact-item {
        transform: rotateZ(0deg);
        width: 60%;
    }
}
